:root{
    --light-dark: #2C3638;
    --primary: #262C2D;
    --success: #22B573;
    --light-gray:#CCCCCC;
    --pure:#ffff;
    --dim:#ffffff12;
    --blue:#16B4F2;
}

*{
    /* padding: 0 !important; */
    margin: 0 !important;
    box-sizing: border-box;
}
body{
    color:var(--pure);
    font-size: 18px;
}

.heading{
    font-size: var(--lg-font) !important;
}
.sub-heading{
    font-size: var(--lg-font) !important;
}
.bg-primary{
    background-color: var(--primary) !important;
}
.bg-light-dark{
    background-color: var(--light-dark) !important;
}
.bg-success{
    background-color: var(--success) !important;
}
.bg-light{
    background-color: var(--light-gray) !important;
}
.bg-pure{
    background-color: var(--pure) !important;
}

.text-primary{
    color: var(--primary) !important;
}
.text-light-dark{
    color: var(--light-dark) !important;
}
.text-success{
    color: var(--success) !important;
}
.text-light{
    color: var(--light-gray) !important;
}
.text-pure{
    color: var(--pure) !important;
}
.f-s{
    font-size: 13px ;
}
.img-25{
    width: 40px;
    height: 40px;
    border-radius: 100%;
}
.img-60{
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

.border-dim{
    border-color: var(--dim) !important
}
.border-success{
    border-color: var(--success) !important;
}
.text-dim{
    color: #ffffff3e !important;
}
.sidebar-chat-boxs > div:last-child{
    border-bottom: none !important;
} 
.total-chat-counter{
    width:27px;
    height: 27px;
    background:var(--success);
    border-radius: 100%;
    font-size: 13px;
    font-weight: bold;
    color:var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-list > div:nth-child(even){
    align-self: flex-end;
}
.chat-list > div:nth-child(even) .text-card{
    background-color: var(--success) !important;
    border-radius:10px 0 10px 10px;
}
.chat-list > div:nth-child(odd){
    align-self: flex-start;
}
.chat-list > div:nth-child(odd) .text-card{
    background-color: var(--light-gray) !important;
    color: var(--light-dark);
    border-radius:0 10px 10px 10px;
}
input:focus{
    box-shadow: 0 0 5px #22b573be !important;
}
.icon-field .dim-input{
    background-color: var(--dim);
    border: 1px solid #4b4b4b !important;
    color:var(--light-gray) !important
}
.icon-field .dim-input:placeholder{
    color:var(--light-gray) !important
}
.icon-field *{
    color:var(--light-gray) !important
}

::placeholder{
    color :var(--light-gray) !important
}





.app-modal-wrapper{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.741);
    display: flex;
    align-items: center;
    justify-content: center;
}
.app-modal-wrapper .app-modal{
    
}